body{
    margin: 0;
    margin: auto;
}

.block{
    width: 1230px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    display: flex;
}
.navbar p{
    margin-right: 40px;
}
.contacts{
    display: flex;
}
.contactsItem{
    display: flex;
    margin-left: 36px;
}
.contactsInfo{
    margin-left: 12px
}
.contactsInfo p{
    margin: 0;
}

.hero{
    height: 1000px;
    width: 100%;
    background: url(img/backgraund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.values{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.formTitle{
    font-weight: bold;
    font-size: 28px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 48px 60px;
    margin-top: 120px;
}

.formData{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.formInput{
    display: flex;
    flex-direction: column;
}

.formInput input{
    padding: 12px 16px;
}
.homeworkBlock{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.homeworkItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serTitle{
    font-size: 46px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 24px;
}
.serSubTitle{
    font-size: 18px;
    margin: 0;
    margin-bottom: 60px;
    color: #787A80
}
.serItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    width: 285px;
    height: 285px;
    justify-content: center;
}
.serItems{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    background-color: lightgray;
    padding-bottom: 80px;
}
.serMore{
    display: flex;
    gap: 40px;
    margin-top: 60px;
    font-size: 28px;
    font-weight: bold;
}
.serMore button{
    padding: 0px 40px;
    height: 62px;
    font-size: 18px;
    align-items: center;
}
.nadBack{
    position: relative;
    top: 500px;
}