@font-face {
    font-family: Ubuntu;
    font-weight: 400;
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}

*{
    font-family: Ubuntu;
}
body{
    margin: 0;
    margin: auto;
}

.block{
    width: 1230px;
    margin: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    display: flex;
}
.navbar p{
    margin-right: 40px;
}
.contacts{
    display: flex;
}
.contactsItem{
    display: flex;
    margin-left: 36px;
}
.contactsInfo{
    margin-left: 12px
}
.contactsInfo p{
    margin: 0;
}

.hero{
    height: 1000px;
    width: 100%;
    background: url(img/backgraund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hm{
    color: #787A80;
}
.values{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.formTitle{
    font-weight: bold;
    font-size: 28px;
}
.formWrapper{
    width: 100%;
    padding-top: 120px;
    background: linear-gradient(grey 80%, lightgray 80%);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 48px 60px;
}

.formData{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.formInput{
    display: flex;
    flex-direction: column;
}
.formInput label{
    padding-bottom: 12px;
}
.formInput input{
    padding: 12px 16px;
    background-color: #F4F5F6;
}
.formData button{
    padding: 0px 40px;
    margin-top: 30px;
    height: 48px;
    font-size: 18px;
    background-color: #FF5A30;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.homeworkBlock{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.homeworkItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serTitle{
    font-size: 46px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 24px;
    margin-top: 120px;
}
.serSubTitle{
    font-size: 18px;
    margin: 0;
    margin-bottom: 60px;
    color: #787A80
}
.serItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    width: 285px;
    height: 285px;
    justify-content: center;
    background-color: white;
    transition: background-color 1s ease;
}
.serItem:hover{
    background-color: orange;
    transition: background-color 1s ease;
}
.serItems{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding-bottom: 80px;
}
.serMore{
    display: flex;
    gap: 40px;
    margin-top: 60px;
    font-size: 28px;
    font-weight: bold;
    align-items: center;
}
.serButton{
    padding: 20px 40px;
    height: 62px;
    font-size: 18px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.serButton:hover{
    background-color: brown;
    transition: background-color 0.5s ease;
}
.serButton:active{
    background-color: yellow;
}
.nadBack{
    position: relative;
    top: 500px;
}
.bolder{
    font-weight: bold;
}
.const{

}
